.device {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: 
  "image . name"
  "rate price add"
  "descr descr descr";
  justify-items: center;

  &__description {
    grid-area: descr;
  }

  &__price {
    grid-area: price;
  }

  &__rating {
    grid-area: rate;
  }

  &__image {
    grid-area: image;
  }

  &__name {
    grid-area: name;
  }

  &__add-to-basket {
    grid-area: add;
    background: rgb(124, 187, 255);
    padding: 10px;
  }
}